nav {
  border-bottom: solid 1px #ddd;
  height: 63px;
}

.container {
  &--nav {
    padding-left: 0;
    padding-right: 8px;
  }
}

.navigation {
  height: 100%;
  padding-left: 0;
  display: flex;
  list-style: none;
  justify-content: flex-end;
  line-height: 25.2px;
  margin-top: 0;
  padding-bottom: 5px;
  align-items: center;

  &__item {
    &--button {
      padding: 8px 23px;
      padding-right: 0;
    }

    display: inline-block;
    align-items: center;
    padding: 20px;
    max-height: 63px;

    a {
      color: currentColor;
    }
  }

  :first-child {
    margin-right: auto;
  }
  &__logo {
    height: 34px;
    width: 169px;
  }
}
