@import '../../../styles/variables';
@import '../../../styles/mixins';

.breadcrumbs {
  @extend %list-reset;

  display: flex;
  padding: 15px 0;
  line-height: 19.6px;
  font-size: 1.4rem;

  .breadcrumb-item {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $link-color;
  }

  .breadcrumb-item-caret,
  .breadcrumb-item.active {
    @extend %muted;
    font-size: 1.4rem;
    color: $secondary-color;
  }

  .breadcrumb-item-caret {
    padding: 0 10px;
    line-height: 14px;
    display: inline;
  }
}

@media only screen and (max-width: map-get($breakpoints, 'md')) {
  .breadcrumbs {
    display: none;
  }
}
