.headline-cta {
  &--centered {
    text-align: center;
  }
  &--no-padding {
    padding: 0;
  }
  display: block;
  margin: 35px 0;
  padding: 60px;
  font-size: 1.6rem;

  &__preheader {
    color: #ee0b62;
    margin-top: 0;
    margin-bottom: 16px;
    text-transform: uppercase;
  }

  &__headline {
    font-size: 2.4rem;
    padding-bottom: 8px;
    line-height: 3rem;
    margin-top: 8px;
    margin-bottom: 24px;
    font-weight: 700;
  }

  &__subheader {
    font-weight: 400;
    line-height: 2.4rem;
    margin-top: 0;
    margin-bottom: 24px;
  }
}
