@import '../../../styles/variables';

.card-filters-container {
  max-width: 260px;
  margin-right: 1rem;
  h6 {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 14px 0;
    color: rgb(67, 87, 107);
    display: inherit;
  }
}

@media only screen and (max-width: map-get($breakpoints, 'lg')) {
  .card-filters-container {
    max-width: none;
    margin-right: 0;
  }
}
