.logo-cta {
  display: block;
  margin: 35px 0;
  padding: 25px;
  font-size: 1.6rem;

  &__text {
    font-weight: 400;
    line-height: 2.4rem;
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 2rem;
    font-family: Georgia, Times, 'Times New Roman', serif;
  }

  &__bottom-row {
    display: flex;
    max-height: 65px;
    align-items: center;
  }

  &__logo {
    max-width: 160px;
    margin-left: auto;
  }
}
